@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --red: #ce1212;
    --gray: #53595e;
    --section: #f8e8e8;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;


    .btn {
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 20px;
        padding: .8rem 2.5rem;
        border: 1px solid var(--red);
        background-color: var(--red);
        color: white;
        transition: 0.3s;

        &:hover {
            color: white;
            border: 1px solid var(--red);
            background-color: #da2a2a;
            transform: scale(1.1);
        }

        &:focus {
            outline: none !important;
            color: white;
            border: 1px solid var(--red);
            background-color: #da4646;
        }

        &:active {
            outline: none !important;
            color: white;
            border: 1px solid var(--red);
            background-color: #da4646;
        }

    }

    #btn2 {
        border: none;
        color: black;
        background: none;

        span {
            color: var(--red);
            margin-right: .5rem;
            border: 2px solid var(--red);
            padding: 6px;
            border-radius: 50%;
        }
    }

    p {
        font-size: 16px;
        color: var(--gray);
    }

    .small-heading {
        text-align: center;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 400;
        color: var(--gray);
    }

    .medium-heading {
        font-family: 'Amatic SC', cursive;
        font-size: 48px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 5rem;
    }

    .red {
        color: var(--red);
    }

}

.navbar {
    background-color: white;
    padding: 1.6rem 0 1rem 0;

    .navbar-brand {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;
    }

    .nav {

        li {
            margin-right: 1rem;

            a {
                font-weight: 600;
                font-size: 1.5rem;

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    left: 1rem;
                    top: 4rem;
                    background-color: var(--red);
                    transition: all 0.3s ease-in-out 0s;
                }

                &:hover {
                    &::before {
                        width: 80%;
                    }
                }

            }

        }
    }
}

.home {
    background-color: var(--section);
    margin-top: 9rem;


    .home-heading {
        font-size: 64px;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }

    .home-text {
        margin-bottom: 2.5rem;
        font-size: 16px;
    }

    .home-left {
        padding: 10rem 5rem;
    }

    .home-right {
        padding: 6rem 0;

        img {
            width: 70%;
            margin-left: 14rem;
        }
    }
}

.about {
    padding: 7rem 0;

    .about-left {
        width: 50%;
        height: 760px;
        background: url(../images/about-img-1.jpg);
        background-size: cover;

        .text {
            background-color: white;
            text-align: center;
            position: absolute;
            bottom: 0;
            padding: 0 10rem;
            margin: 0 -7rem 5rem 5rem;

            h3 {
                font-weight: 600;
            }

            h2 {
                color: var(--red);
                font-weight: 700;
            }
        }
    }

    .about-right {
        margin-left: 4rem;
        text-align: justify;

        li {
            list-style: disc;
            font-style: italic;
            line-height: 1.6;
        }

        .play-div {
            width: 100%;
            height: 345px;
            background: url(../images/about-img-2.jpg);
            background-size: cover;

            i {
                margin: 32% 0 0 42%;
                color: white;
                padding: 20px;
                font-size: 2rem;
                background-color: var(--red);
                border-radius: 50%;
                box-shadow: 0 0 30px 15px white;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.choose {
    background-color: var(--section);
    padding: 7rem 0;

    .red-card {
        background-color: var(--red);
        color: white;
        padding: 1rem 4rem 2rem;
        margin-right: 2.5rem;
        width: 30%;

        h1 {
            font-weight: 700;
            margin-bottom: 2.5rem;
        }

        p {
            color: white;
            margin-bottom: 2.5rem;
        }

        .btn3 {
            background-color: rgba(255, 255, 255, 0.336);
            transition: all ease-in-out 0.4s;
            margin-left: 20%;

            &:hover {
                background-color: white;
                color: var(--red);

            }
        }
    }

    .card {
        background-color: white;
        text-align: center;
        width: 30%;
        height: 63vh;
        margin: 2.5rem 2.5rem 0 0;
        padding: 4.5rem;
        transition: 0.3s;


        h2 {
            margin-bottom: 2.5rem;
            font-size: 20px;
        }

        p {
            margin-bottom: 2.5rem;
            font-size: 15px;
        }

        i {
            color: var(--red);
            background-color: var(--section);
            padding: 14px;
            font-size: 2.5rem;
            border-radius: 50%;
        }

        &:hover {
            transform: scale(1.1);
        }

    }
}

.banner {
    background: url(../images/banner.jpg);
    background-color: rgb(139, 135, 135);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 12rem 5rem;
    text-align: center;

    h1 {
        font-size: 48px;
        color: rgb(236, 233, 233);
        font-weight: 700;
    }

    h4 {
        font-weight: 600;
        font-size: 16px;
        color: rgb(236, 233, 233);
    }
}

.menu {
    padding: 7rem 0;
    text-align: center;

    .nav-pills {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;

        li {

            a {
                background: none;
                margin-right: 1.5rem;
                font-size: 18px;
                color: black;
                border-radius: 0;
                border-bottom: 2px solid var(--section);
                transition: all 0.3s ease-in-out 0s;

                &:hover {
                    background: none;
                    color: var(--red);
                    border-bottom: 2px solid var(--red);

                }

                &:focus {
                    background: none;
                    color: var(--red);
                    border-bottom: 2px solid var(--red);
                }

                &:active {
                    background: none;
                    color: var(--red);
                    border-bottom: 2px solid var(--red);
                }
            }
        }

        .active {

            a {
                background: none;
                color: var(--red);
                border-bottom: 2px solid var(--red);
            }
        }
    }

    .tab-content {

        .menu-title {
            font-size: 36px;
            color: var(--red);
            font-weight: 600;
            margin-bottom: 2rem;
        }

        img {
            width: 70%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        p {
            color: var(--gray);
        }

        .price {
            color: var(--red);
            font-weight: 700;
        }
    }
}

.testimonials {
    padding: 7rem 0;
    background-color: var(--section);

    .media {
        margin: 0;
        padding: 0;
        padding: 2.5rem;
        transition: 0.3s;

        &:hover {
            transform: scale(1.05);
            background-color: rgb(253, 246, 246);
        }
    }

    p {
        font-style: italic;
    }

    h3 {
        font-weight: 600;
    }

    h6 {
        font-size: 14px;
        color: var(--gray);

    }

    i {
        color: orange;
    }

    img {
        border-radius: 50%;
        width: 150px;
    }
}

.events {
    padding: 7rem 0;

    .col-lg-4 {
        height: 600px;
        width: 31%;
        margin-right: 2.7rem;

        &:hover {
            background-blend-mode: normal;
            transition: all ease-in-out 0.4s;
        }
    }

    .text {
        position: absolute;
        bottom: 0;

        .party {
            font-weight: 700;
            color: white;
        }

        h2 {
            text-decoration: underline var(--red);
            color: white;
        }

        p {
            color: white;
            font-size: 16px;
        }
    }

    .event {
        background: url(../images/events-1.jpg);
        background-color: rgb(139, 135, 135);
        background-blend-mode: multiply;
    }

    .event1 {
        background: url(../images/events-2.jpg);
        background-color: rgb(139, 135, 135);
        background-blend-mode: multiply;
    }

    .event2 {
        background: url(../images/events-3.jpg);
        background-color: rgb(139, 135, 135);
        background-blend-mode: multiply;
    }
}

.chefs {
    padding: 7rem 0;
    background-color: var(--section);

    .col-md-4 {
        height: 600px;
        width: 31%;
        margin-right: 2.7rem;
        transition: 0.3s;

        svg {
            position: absolute;
            top: 29rem;
            left: 0;
        }

        .text {
            position: absolute;
            bottom: 0;
            left: 0;
            color: var(--gray);
            background-color: white;
            text-align: center;
            padding: 2.5rem;

            h3 {
                font-weight: 700;
            }

            h5 {
                font-size: 14px;
                color: gray;
            }

            p {
                font-size: 15px;
            }
        }

        &:hover {
            transform: scale(1.1);
        }

    }

    .chef-1 {
        background: url(../images/chefs-1.jpg);
        background-size: contain;
    }

    .chef-2 {
        background: url(../images/chefs-2.jpg);
        background-size: contain;
    }

    .chef-3 {
        background: url(../images/chefs-3.jpg);
        background-size: contain;
    }
}

.book {
    padding: 7rem 0;

    .book-left {

        img {
            width: 105%;
            height: 500px;
        }
    }

    .book-right {
        background-color: #fff7f7;
        height: 500px;
        padding: 5rem;

        input[type=text],
        input[type=number] {
            margin-bottom: 2rem;
            margin-right: 2rem;
            border: 1px solid rgb(190, 186, 186);
            padding: 1.5rem 1rem 1.5rem 1rem;
            width: 30%;

            &:focus {
                border: 1px solid var(--red);
                outline: none;
            }
        }

        textarea {
            width: 96%;
            border: 1px solid rgb(190, 186, 186);
            padding-top: 1.5rem;
            margin-bottom: 2rem;

            &:focus {
                border: 1px solid var(--red);
                outline: none;
            }
        }

        .btn {
            margin-left: 40%;
        }
    }
}

.gallery {
    padding: 7rem 0;
    background-color: var(--section);

    img {
        width: 100%;
    }
}

.contact {
    padding: 7rem 0;

    .col-sm-6 {
        background-color: var(--section);
        margin-top: 2rem;
        margin-left: 3rem;
        width: 46%;
        padding: 1.5rem 0 1.5rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i {
        color: white;
        background-color: var(--red);
        padding: 15px;
        font-size: 2rem;
        border-radius: 50%;
    }

    h4 {
        font-weight: 600;
    }
}

.footer {
    background-color: #1f1f24;
    padding: 7rem 0 2rem;

    .col-md-3 {
        display: flex;

    }


    svg {
        width: 90%;
        border: 1px solid #a1a1a1;
        padding: 10px;
        margin: 0;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            border: 1px solid white;
            transform: scale(1.1);

            path {
                fill: white;
            }
        }

    }

    i {
        font-size: 2rem;
        color: #bebaba;
    }

    h4 {
        color: white;
    }

    p {
        color: #bebaba;
        font-size: 14px;
    }

    .container {
        border-bottom: 1px solid #bebaba46;
        margin-bottom: 2.5rem;
    }

    .last-line {
        text-align: center;
    }
}



@media only screen and (max-width: 1350px) {
    .navbar {
        #btn2 {
            display: none;
        }
    }

    .home {
        margin-top: 8rem;
    }
}

@media only screen and (max-width: 1300px) {
    .navbar {
        #btn {
           display: none;
        }
    }

    .home {
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 1298px) {
    .navbar {

       #btn2 {
            display: none;
        }
    }

    .home {
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 1203px) {

    .navbar {
        .nav {
            li {
                margin-right: -.4rem;
            }
        }
    }

    .home {
        .home-left {
            padding: 10rem 3rem;
        }
    }

    .about {
        .about-left {

            .text {
                padding: 1rem 5rem;
            }
        }

        .about-right {
            .play-div {
                height: 250px;
            }
        }
    }

    .choose {
        .card {
            width: 100%;
            height: 100%;
        }
    }

    .events {
        .col-lg-4 {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .chefs {
        .col-md-4 {
            width: 30%;
            background-size: cover;
            background-position-x: 35%;
        }
    }

    .book {

        .book-left {
            width: 97%;
        }

        .book-right {
            margin-left: 1.5rem;
        }
    }

    .contact {
        .col-lg-12 {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1095px){
    .navbar{
        .btn{
            display: none;
        }
    }
}

@media only screen and (max-width: 1032px) {

    .navbar {
        .nav {
            li {
                margin-right: -.5rem;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        .nav {
            li {
                margin-right: -.7rem;
            }
        }
    }

    .home {
        .home-left {
            text-align: center;
        }
    }

    .about {
        .about-left {
            width: 100%;

            .text {
                padding: 1rem 18rem;
            }
        }

        .about-right {
            .play-div {
                height: max-content;

                i {
                    margin-bottom: 20rem;
                }
            }
        }
    }

    .choose {
        .red-card {
            width: 100%;
            text-align: center;

            .btn {
                margin-left: -4rem;
            }
        }
    }

    .chefs {
        .col-md-4 {
            width: 100%;
            background-size: contain;
            margin-bottom: 2rem;
        }
    }

    .book {
        .book-right {
            height: 100%;

            input[type=text],
            input[type=number] {
                width: 46%;
            }
        }
    }

    .footer {

        .svgs {
            display: none;
        }
    }

}

@media only screen and (max-width: 855px) {

    .navbar {
        .nav {
            li {
                margin-right: -.9rem;
            }
        }
    }
}

@media only screen and (max-width: 830px) {

    .navbar {
        .nav {
            li {
                margin-right: -1rem;
            }
        }
    }
}

@media only screen and (max-width: 820px) {

    .navbar {
        .nav {
            li {
                margin-right: -1.2rem;
            }
        }
    }
}



@media only screen and (max-width: 803px) {

    .navbar {
        .nav {
            li {
                margin-right: -1rem;

                a {
                    font-size: 1.3rem;
                }
            }
        }

        .navbar-header {
            button {
                border: none;
            }
        }
    }

    .home {
        .home-right {
            img {
                margin-left: 15%;
            }
        }
    }

    .about {
        .about-left {
            width: 80%;
            margin-left: 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            .text {
                margin-right: 10%;
                padding: 1rem 5rem;
            }


        }

        .about-right {
            width: 80%;
            margin-left: 10%;
        }

    }

    .banner {
        .col-sm-3 {
            margin-bottom: 5rem;
        }
    }

    .choose {

        .col-md-4 {
            margin-left: 15%;
            width: 70%;
        }
    }

    .chefs {
        .col-md-4 {
            margin-left: 15%;
            width: 70%;
        }
    }

    .book {

        .book-left,
        .book-right {
            margin-left: 10%;
            width: 80%;

            input[type=text],
            input[type=number] {
                width: 100%;
            }
        }

        .book-right {
            margin-left: 12%;

            .btn {
                margin-left: 20%;
            }
        }
    }

    .contact {
        .row {
            .col-sm-6 {
                width: 70%;
                margin-left: 15%;

                .col-sm-2 {
                    width: 20%;
                }

                .col-sm-10 {
                    width: 80%;
                }
            }
        }
    }


}

@media only screen and (max-width: 562px) {

    .footer {
        .col-sm-3 {
            width: 100%;
        }
    }

}